<link rel="stylesheet" href="{{url_for('static',filename='css/userauthcard.css')}}">

<div>
  <div class="cardscontainer">
    {% for user in users %}
    <div class="request-card" id="user-card-{{ user.id }}">
      <div class="card-header">
        <h5>{{ user.username }}</h5>
        <div id="authorizationContainer-{{ user.id }}">
          <button class="authorize-btn" onclick="handleAuthorize({{ user.id }})"> Authorize </button>
        </div>
      </div>
      <ul>
        <li class="field-container">
          <b>Department:</b> <span>{{ user.department }}</span>
        </li>
        <li class="field-container">
          <b>Role:</b> <span>{{ user.role }}</span>
        </li>
        <li class="field-container">
          <b>Event:</b> <span>{{ user.event }}</span>
        </li>
        {% if user.sub_event|length == 0 or user.role == 'Finance Manager' %}
        <li class="field-container">
          <b>Sub Events:</b> <span>No Sub Event Assigned!</span>
        </li>
        {% else %}
        <li class="field-container">
          <b>Sub Events:</b> <span>{{ user.sub_event }}</span>
        </li>
        {% endif %}
        <li class="field-container">
          <b>Email:</b> <span>{{ user.email }}</span>
        </li>
        <li class="field-container">
          <b>Phone:</b> <span>{{ user.phone }}</span>
        </li>
      </ul>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  function handleAuthorize(userId) {
    const authorizationContainer = document.getElementById(
      "authorizationContainer-" + userId
    );
    if (authorizationContainer) {
      authorizationContainer.innerHTML =
        '<div class="field-container authorized">Authorized</div>';
    }
  }

  function handleNewUser() {
    // Action for creating a new user
    alert('New user creation process triggered!');
  }
</script>
