{% extends 'base.html' %} 

{% import 'components/header_with_button.html' as section_header %}
{% import 'finance_manager/event_cards.html' as event_card %}
{% import 'finance_manager/header_bar.html' as finance_header %}

{% block title %}Event Details - Finance Manager{% endblock %} 

{% block extra_css %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/eventcard.css') }}">
{% endblock %} 
    
{% block header %}
{{ finance_header.finance_header(user_id) }}
{% endblock %}


{% block content %}
  <h1>Event Detail Page of Finance Manager...!</h1>
{% endblock %}