{% extends 'base.html' %}

{% import 'components/header_with_button.html' as section_header %}
{% import 'finance_manager/event_cards.html' as event_card %}

{% import 'finance_manager/header_bar.html' as finance_header %}

{% block title %}Dashboard -Finance Manager{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/common.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/eventcard.css') }}">
{% endblock %}

{% block header %}
{{finance_header.finance_header(user_id)}}
{% endblock %}

{% block content %}

<section >
  <h1>Welcome to the Finance Manager Dashboard</h1>
</section>

<section id="Events">
  <!-- Render New Event and View Events buttons with header component -->
  {% set button1 = {'text': 'View Events', 'action': url_for('finance_manager.view_events', user_id=user_id), 'class': 'header-button'} %}
  {{ section_header.render_header(title='Events', buttons=[button1]) }}

  <!-- Check if there are events to display, otherwise prompt to create new events -->
  <div class="cardscontainer">
    {% if events %}
      {{ event_card.render_event_cards_finance_manager(events, user_role, minimum_cards=True, user_id=user_id) }}

    {% else %}
      <p>No events assigned to you. Please contact the admin for a new event.</p>
    {% endif %}
  </div>
</section>
{% endblock %}

