{% extends 'base.html' %}

{% import 'components/header_with_button.html' as section_header %}
{% import 'finance_manager/event_cards.html' as event_card %}
{% import 'finance_manager/header_bar.html' as finance_header %}

{% block title %}View Events - Finance Manager{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/eventcard.css') }}">
{% endblock %}

{% block header %}
{{ finance_header.finance_header(user_id) }}
{% endblock %}

{% block content %}
<section id="Events">
  {{ section_header.render_header(title='Events', buttons=[]) }}
  {{ event_card.render_event_cards_finance_manager(events, user_role, minimum_cards=False, user_id=user_id) }}
</section>
{% endblock %}
