{% extends 'base.html' %}

{% import 'components/table_component.html' as table %}
{% import 'components/header_with_button.html' as section_header %}
{% import 'event_manager/event_cards.html' as event_card %}

{% import 'event_manager/header_bar.html' as user_header %}

{% block title %}Dashboard - Event Manager{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/common.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/eventcard.css') }}">

{% endblock %}

{% block header %}
  {{ user_header.user_header(user_id) }}
{% endblock %}

{% block content %}
  <section id="Events">
    {% set button1 = {'text': 'View Events', 'action': url_for('event_manager.view_events', user_id=user_id), 'class': 'header-button'} %}
    {{ section_header.render_header(title='Events', buttons=[button1]) }}

    <div class="cardscontainer">
      {% if events %}
        {{ event_card.render_event_cards_event_manager(events, user_role, minimum_cards=True, user_id=user_id) }}
      {% else %}
        <p>No events assigned to you. Please contact the admin for a new event.</p>
      {% endif %}
    </div>
  </section>
{% endblock %}