<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
</head>
<body>
    <div class="container">
        <div class="login-wrapper">
            <h2 class="login-heading">Login</h2>
            <img src="{{url_for('static', filename='images/loginillsutration.jpg')}}" alt="Login Illustration" class="illustration" />

            <div class="login-form">
                <form action="{{ url_for('home.login') }}" method="POST">
                    <div>
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" placeholder="Enter your email" required 
                           value="{{ email or '' }}" />
                        {% if errors and errors.get("email") %}
                            <span class="error">{{ errors["email"] }}</span>
                        {% endif %}
                    </div>

                    <div>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Enter your password" required 
                           value="{{ password or '' }}" />
                        {% if errors and errors.get("password") %}
                            <span class="error">{{ errors["password"] }}</span>
                        {% endif %}
                    </div>

                    {% if errors and errors.get("general") %}
                        <div class="error">{{ errors["general"] }}</div>
                    {% endif %}

                    <button type="submit">Log In</button>
                    <br><br>
                    <div>
                        <a href="{{ url_for('home.forgot_password') }}" class="forgot-password">Forgot password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
