<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/resetpassword.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='js/resetpassword.css')}}">
  </head>
  <body>
    <div class="container">
      <div class="login-wrapper">
        <h2 class="login-heading">RESET YOUR PASSWORD HERE</h2>

        <div class="illustration-container">
          <img
            src="{{url_for('static', filename='images/resetpasswordillustration.jpg')}}"
            alt="Reset Password Illustration"
            class="illustration"
          />
        </div>

        <form
          class="login-form"
          onsubmit="validateForm(event)"
          action="#"
          method="POST"
        >
          <div>
            <label for="new-password" class="label">New Password</label>
            <input
              type="password"
              id="new-password"
              name="new-password"
              placeholder="Value"
              required
            />
            <span id="newPasswordError" class="error-message"></span>
          </div>

          <div>
            <label for="confirm-password" class="label">Confirm Password</label>
            <input
              type="password"
              id="confirm-password"
              name="confirm-password"
              placeholder="Value"
              required
            />
            <span id="confirmPasswordError" class="error-message"></span>
          </div>

          <div>
            <button
              type="button"
              class="reset-button"
              onclick="navigateToHome()"
            >
              Cancel
            </button>
            <button type="submit" class="reset-button">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
