<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/resetpassword.css')}}">
  </head>
  <body>
    <div class="container">
      <div class="login-wrapper">
        <h2 class="login-heading">RESET YOUR PASSWORD HERE</h2>

        <div class="illustration-container">
          <img src="{{url_for('static', filename='images/resetpasswordillustration.jpg')}}" alt="Reset Password Illustration" class="illustration" />
        </div>

        <form class="login-form" action="{{ url_for('home.reset_password', user_id=user_id) }}" method="POST">
          <div>
            <label for="new-password" class="label">New Password</label>
            <input type="password" id="new-password" name="new-password" placeholder="New Password" required />
            {% if new_password_error %}
              <span class="error-message">{{ new_password_error }}</span>
            {% endif %}
          </div>

          <div>
            <label for="confirm-password" class="label">Confirm Password</label>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password" required />
            {% if confirm_password_error %}
              <span class="error-message">{{ confirm_password_error }}</span>
            {% endif %}
          </div>

          <div>
            <button type="button" class="reset-button" onclick="window.location.href='{{ url_for('home.forgot_password') }}'">Cancel</button>
            <button type="submit" class="reset-button">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
