/* Reset and global styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #52B8B7;
}

/* Container styling */
.container {
    margin: 0 25%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container {
    background-color: #ffffff;
    border-radius: 12px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.illustration-container {
    text-align: center;
    margin-bottom: 20px;
}

.illustration {
    width: auto;
    max-width: 350px;
    height: auto;
}

/* Form styling */
.form-container {
    text-align: center;
}

.form-heading {
    font-size: 16px;
    color: #333333;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    margin-bottom: 5px;
}

button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.error-message {
    color: red; 
    font-size: 12px; 
    margin-top: 5px;
}