/* Reset margin and padding for body and main sections */
body, .features, .about, .contact {
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container, header, .hero {
    margin: 0;
    padding: 0;
}

/* Hero Section */
.hero {
    background: linear-gradient(to right, #48bb78, #22543d);
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
    color: white;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    padding: 80px 20px;
    box-sizing: border-box;
    opacity: 0.9;
    margin: 0; /* Remove margin to avoid any gap */
}

.mb-0, .mt-0 {
    margin: 0 !important;
}

/* Hero Heading */
.hero h1 {
    font-size: 3em;
    margin: 0; /* Ensure no extra spacing */
}

/* Hero Paragraph */
.hero p {
    font-size: 1.2em;
    margin: 0;
}

/* Features Section */
.features {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    gap: 15px;
}

/* Feature Boxes */
.feature {
    width: 22%;
    text-align: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.feature:hover {
    transform: translateY(-5px);
}

/* About Section */
.about {
    background-color: #62796b;
    color: white;
    margin: 0;
}

.about-content {
    position: relative;
    padding: 60px 40px;
}

.watermark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
}

.watermark img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Watermark Text */
.watermark-text {
    position: relative;
    z-index: 1;
    font-size: 1em;
    line-height: 1.5;
}

/* Contact Section */
.contact {
    padding: 40px 20px;
    text-align: center;
    background-color: #b5e2c8;
    color: white;
    margin: 0;
}

.social-link {
    color: #2c3e50;
    text-decoration: none;
    margin: 0 10px;
    background: #d2f5d2;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.social-link:hover {
    background: #2c6e49;
    color: #fff;
}
