{% extends 'base.html' %}
{% import 'components/table_component.html' as table %}
{% import 'components/header_with_button.html' as header %}
{% import 'admin/event_cards.html' as event_card %}
{% import 'components/userauthcard.html' as user_auth_card %}
{% import 'admin/header_bar.html' as admin_header %}

{% block title %}Admin Dashboard{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/userauthcard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/eventcard.css') }}">
<style>
  
</style>
{% endblock %}

{% block header %}
  {{ admin_header.header() }}
{% endblock %}

{% block content %}
<section id="Events">
  <!-- Render New Event and View Events buttons with header component -->
  {% set button1 = {'text': 'New Event', 'action': url_for('admin.new_event'), 'class': 'header-button'} %}
  {% set button2 = {'text': 'View Events', 'action': url_for('admin.view_events'), 'class': 'header-button'} %}
  {{ header.render_header(title='Events', buttons=[button1, button2]) }}

  <!-- Check if there are events to display, otherwise prompt to create new events -->
  <div class="cardscontainer">
    {% if events %}
      {{ event_card.render_event_cards_admin(events, user_role, minimum_cards=True) }}
    {% else %}
      <p>No events found. <a style="text-decoration:none;" href="{{ url_for('admin.new_event') }}">Create a new event</a> to get started.</p>
    {% endif %}
  </div>
</section>

<section id="Authentication">
  <!-- Render New User button with header component -->
  {% set button1 = {'text': 'New User', 'action': url_for('admin.new_user'), 'class': 'header-button'} %}
  {{ header.render_header(title='User Authentication', buttons=[button1]) }}
  
  <!-- Include the user authentication card -->
  <div>
    <div class="cardscontainer">
      {% if data | selectattr("verified", "equalto", 0) | list %}
        {% for card_data in data if card_data.verified == 0 %}
          {{ user_auth_card.render_user_auth_card(card_data) }}
        {% endfor %}
      {% else %}
        <p>No unauthorized users found. <a href="{{ url_for('admin.new_user') }}" style="text-decoration: none;">Create New User</a></p>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
