{% macro header() %}
<style>
    .hover-pill {
        padding: 8px 16px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .hover-pill:hover {
        background-color: #AFD46E; 
        color: white;             
        border-radius: 50px;       
        text-decoration: none;     
    }
    
</style>
<header class="p-3 mb-3 border-bottom" style="background-color: #66b775;">
    <div class="d-flex align-items-center justify-content-between w-100">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        <img src="{{ url_for('static', filename='images/favicon.jpg') }}" alt="FinSight" width="40" height="32" class="me-2">
        <span class="fs-4" style="font-weight: bold; color: #AFD46E;">FinSight</span>
      </a>
  
      <ul class="nav mb-2 justify-content-center mb-md-0 flex-grow-1">
        <li><a href="{{url_for('admin.admin_dashboard')}}" class="nav-link px-2 link-body-emphasis rounded-pill hover-pill">Dashboard</a></li>
        <li><a href="{{url_for('admin.view_events')}}" class="nav-link px-2 link-body-emphasis rounded-pill hover-pill">Events</a></li>
        <li><a href="{{url_for('admin.users_table')}}" class="nav-link px-2 link-body-emphasis rounded-pill hover-pill">Users</a></li>
      </ul>
  
      <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="{{ url_for('home.index') }}">Sign out</a></li>
        </ul>
      </div>
    </div>
  </header>
{% endmacro %}
