<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinSight</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    {% include 'navbar.html' %}

    <header>
        <h1>Welcome to FinSight</h1>
    </header>

    <section id="about_us">
        <h2>About Us</h2>
        <p>Information about the application...</p>
    </section>

    <section id="contact_us">
        <h2>Contact Us</h2>
        <p>Contact details...</p>
    </section>
    <div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus nostrum beatae sit, eius cum laborum
            amet minima est quia at repellat consequuntur sapiente et repudiandae debitis iste veritatis deserunt!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus nostrum beatae sit, eius cum laborum
            amet minima est quia at repellat consequuntur sapiente et repudiandae debitis iste veritatis deserunt!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus nostrum beatae sit, eius cum laborum
            amet minima est quia at repellat consequuntur sapiente et repudiandae debitis iste veritatis deserunt!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus nostrum beatae sit, eius cum laborum
            amet minima est quia at repellat consequuntur sapiente et repudiandae debitis iste veritatis deserunt!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus nostrum beatae sit, eius cum laborum
            amet minima est quia at repellat consequuntur sapiente et repudiandae debitis iste veritatis deserunt!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus nostrum beatae sit, eius cum laborum
            amet minima est quia at repellat consequuntur sapiente et repudiandae debitis iste veritatis deserunt!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus nostrum beatae sit, eius cum laborum
            amet minima est quia at repellat consequuntur sapiente et repudiandae debitis iste veritatis deserunt!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus nostrum beatae sit, eius cum laborum
            amet minima est quia at repellat consequuntur sapiente et repudiandae debitis iste veritatis deserunt!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus nostrum beatae sit, eius cum laborum
            amet minima est quia at repellat consequuntur sapiente et repudiandae debitis iste veritatis deserunt!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus nostrum beatae sit, eius cum laborum
            amet minima est quia at repellat consequuntur sapiente et repudiandae debitis iste veritatis deserunt!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus nostrum beatae sit, eius cum laborum
            amet minima est quia at repellat consequuntur sapiente et repudiandae debitis iste veritatis deserunt!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus nostrum beatae sit, eius cum laborum
            amet minima est quia at repellat consequuntur sapiente et repudiandae debitis iste veritatis deserunt!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus nostrum beatae sit, eius cum laborum
            amet minima est quia at repellat consequuntur sapiente et repudiandae debitis iste veritatis deserunt!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus nostrum beatae sit, eius cum laborum
            amet minima est quia at repellat consequuntur sapiente et repudiandae debitis iste veritatis deserunt!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus nostrum beatae sit, eius cum laborum
            amet minima est quia at repellat consequuntur sapiente et repudiandae debitis iste veritatis deserunt!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus nostrum beatae sit, eius cum laborum
            amet minima est quia at repellat consequuntur sapiente et repudiandae debitis iste veritatis deserunt!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus nostrum beatae sit, eius cum laborum
            amet minima est quia at repellat consequuntur sapiente et repudiandae debitis iste veritatis deserunt!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus nostrum beatae sit, eius cum laborum
            amet minima est quia at repellat consequuntur sapiente et repudiandae debitis iste veritatis deserunt!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus nostrum beatae sit, eius cum laborum
            amet minima est quia at repellat consequuntur sapiente et repudiandae debitis iste veritatis deserunt!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus nostrum beatae sit, eius cum laborum
            amet minima est quia at repellat consequuntur sapiente et repudiandae debitis iste veritatis deserunt!
        </p>
    </div>
</body>


</html>