<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<style>
    .navbar-custom {
        margin: 0.2rem 0;        /* Top and bottom margin */
        padding: 0.5rem;       /* Internal padding */
    }
    
    .nav-item {
        margin-right: 1.5rem;  /* Space between nav items */
    }
    
    .nav-link {
        margin-right: 0.5rem;  /* Space between links and buttons */
    }
    
    .btn {
        margin-left: 0.5rem;    /* Space between buttons and links */
    }
</style>

<!-- <ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ url_for('home_page') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin_page') }}">Admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('event_manager_page') }}">Event Manager</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('finance_manager_page') }}">Finance Manager</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
</ul> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <ul class="nav nav-pills d-flex justify-content-between navbar-custom">
        {% for item, link_type in navbar %}
        <li class="nav-item">
            {% if link_type == 'dashboard' %}
            <a class="nav-link" href="{{ url_for(item | lower | replace(' ', '_') + '_page') }}">{{ item }}</a>
            {% elif link_type == 'section' %}
            <a class="nav-link" href="#{{ item | lower | replace(' ', '_') }}">{{ item }}</a>
            {% elif link_type == 'button' %}
            <button class="btn btn-primary btn-sm rounded-pill" type="button">{{ item }}</button>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>
<div style="height:7rem; background-color:blue;"></div>